<!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Richie Rich Pvt. Ltd.</h3>
                    <strong>RR</strong>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-home"></i>
                            Home
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="/">Home </a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="/about">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            About Us
                        </a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-duplicate"></i>
                            Explore
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="/menu">Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/locate">
                            <i class="glyphicon glyphicon-link"></i>
                            Locate Us
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <i class="glyphicon glyphicon-send"></i>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>