        <table class="table">
			<thead>
			<tr>
			<td class="col-md-2"><img src="/images/Logo2.jpg" alt="Logo" align="left" width="150px" height="150px"></td>
			<th class="col-md-10 logo" >Richie Rich Foods Pvt. Ltd.</th>
			</tr>
			</thead>
			</table>
                <nav class="navbar navbar-defaul">
					<div class="container-fluid" >
						<div class="navbar-header">
								<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
									<i class="glyphicon glyphicon-align-left"></i>
								</button>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfasaTn-L8-CU69k7aGEpl9Qu480Sg4POEbyX01Q7NPyZaXHQ/viewform">Advertise</a></li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
									<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScG-7siIaR9sqTro3frEdhGx2Hlfyof-boVKumPHRBwplICtg/viewform">Catering</a></li>
								</ul>
						</div>
						</div>
                  
				</nav>
				<div class="line"></div>