<h2 align="center" style="font-face:Cooper black">About Us</h2>
<p>Established in 2017, we, Richie Rich Foods private Limited A gourmet family-owned bakery shop which started in the heart of Ghaziabad. Our Bakery produces delectable pastries that combine classic Asian traditions with modern flavors for the contemporary palette.. Our Bakery provides cutting-edge designed wedding dessert creations using delicious  fruits like, apple ,  strawberries or other fresh fruits to create mousse cakes, luscious tarts and a variety of handcrafted Asian pastries specialties. In addition, we can fulfill your catering and wedding favour needs with a dessert menu of petit fours, chocolates and cookies. Our Bakery prides itself on the personalized service it offers to each of its wedding cake and special occasion cake clients. Our decorators use only the freshest and finest ingredients available.</p>
<div class="line"></div>
<p>We cater to only selected people who want something new and designer with different taste & feelings. we are the innovative producer of continental desserts with fusion of Indian taste
We are here to ensure that your unique celebration becomes an extraordinary memory. </p>
<div class="line"></div>
<p>We have the infrastructure to offer you fresh & pure bakery products of world class quality prepared in strict hygienic conditions. The Italian machines used in making such bakery products perhaps make all the difference.</p>
<div class="line"></div>